# godot
.godot/
/android/
*.tmp

# builds
builds/

# vscode
.vscode/
*.apk

# rider
.idea/
*.sln.DotSettings.user

# libs
addons/soundfont/lib/~soundfont*
addons/soundfont/lib/~libgdexample.windows.template_debug.x86_64.dll
.github/copilot-instructions.md
.github/instructions/gdscript.instructions.md
